<template name="notes">
<body>
	<h1>Welcome to the notes page.</h1>
	<div class="half-full">
	<p>Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. </p>
	<div class="button-group">
	<a href="/" class="flat-button clear">Link 1</a>
	<a href="https://www.google.com" id="button1" class="flat-button clear">Link Two</a>
	</div>
	</div>
</body>
</template>