<template name="notes">
<body>
	<h1>Welcome to the notes page.</h1>
	<p>Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. <a href="home" class="flat-button">Link</a> Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. Testing what this looks like. </p>
</body>
</template>